<footer class="">
    <div class="main-container footerEmpresa">
        <div class="footerEmpresaCol1">
            <div class="footerEmpresaLogo">
                <img src="/assets/logo_directo.png" alt="Logo de Directo" class="footerLogo">
            </div>

            <div class="footerSocial">
                <i class="fa-brands fa-facebook-f"><a href="https://www.facebook.com/directo.ar"
                        target="_blank"></a></i>
                <i class="fa-brands fa-instagram"><a href="https://www.instagram.com/directo.ar/"
                        target="_blank"></a></i>
                <i class="fa-brands fa-linkedin-in"><a
                        href="https://www.linkedin.com/company/directo-argentina/" target="_blank"></i></a>
            </div>
            <div class="footerAfip">
                <img src="/assets/data-fiscal.webp" alt="Información Fiscal">
                <p class="footerAfipText">Crédito Directo S.A. – CUIT N° 30-71210113-6<br>
                    Av. Corrientes 1174, Piso 7°<br>
                    Ciudad Autónoma de Buenos Aires</p>
            </div>
        </div>
        <div class="footerEmpresaCol2">
            <h4>Productos</h4>
            <div class="footer_lista">
                <a class="footer_item" href="https://mi.directo.com.ar/Cuenta/Ingresar?ePedirPrestamo=True">Tu
                    préstamo directo</a>
                <a class="footer_item" href="/internas/asistencias.html">Servicios para vos</a>
                <a class="footer_item" href="/internas/preguntas-frecuentes.html">Preguntas frecuentes</a>
            </div>
        </div>
        <div class="footerEmpresaCol3">
            <h4>Nosotros</h4>
            <div class="footer_lista">
                <a class="footer_item" href="/internas/institucional.html">Institucional</a>
                <a class="footer_item" href="https://www.grupost.com.ar/">Grupo GST</a>
            </div>
        </div>
        <div class="footerEmpresaCol4">
            <h4>Atención al cliente</h4>
            <div class="footer_lista">
                <p class="footer_item">0800 345 6790</p>
                <p class="footer_item">Lunes a viernes de 9 a 20 hs.</p>
            </div>
        </div>
    </div>
    <div class="main-container footerLegales">
        <div>
            <img class="footerLegalesImagen" src="/assets/banner-bcra.webp" alt="Información Fiscal">
        </div>

        <div>
            <img class="footerLegalesImagen" src="/assets/cnv.webp" alt="Información Fiscal">
        </div>

        <div class="footerLegalesLinks">
            <a href="/internas/terminos-y-condiciones.html"
                class="legales_links__distancia legales_links__division">Términos y Condiciones</a>
            <a href="/internas/politicas-de-privacidad.html"
                class="legales_links__distancia legales_links__division">{{ site.data.politicas-de-privacidad.title}}</a>
            <a href="/internas/proteccion_de_datos_personales.html"
                class="legales_links__distancia legales_links__division"> Protección Datos Personales</a>
            <a href="/internas/proteccion-de-datos-personales.html"
                class="legales_links__distancia legales_links__division"> Defensa Del Consumidor</a>
            <a href="/internas/libro-de-quejas.html" class="legales_links__distancia legales_links__division">
                Libro de Quejas</a>
            <a href="/internas/boton-de-arrepentimiento.html"
                class="legales_links__distancia legales_links__division"> Botón de Arrepentimiento</a>
            <a href="/internas/informacion-al-usuario-financiero.html"
                class="legales_links__distancia legales_links__division"> Información al Usuario Financiero</a>
            <a href="/internas/boton-de-baja.html" class="legales_links__distancia legales_links__division">
                Botón de Baja</a>
        </div>

<div class="footerLegalesLinks">
    {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {%- endif -%}
          {%- endfor -%}
</div>

<div>
    {% for page in site.pages %}
        {% if page.categoy == "legales" %}
            <li><a href="{{ page.url }}"> {{ page.title }}</a></li>
        {% endif %}
    {% endfor %}    
</div>


    </div>
</footer>