<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>


    <!-- Style -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&family=Public+Sans:wght@400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/09eda8fa81.js" crossorigin="anonymous"></script>

    <!-- Animations -->
	<script src="/assets/js/main.js"></script>
	<script src="/assets/js/menu.js"></script>
</head>