<header class="site-header">
    <!--
    <div class="headerBanner">
        <a href="">Conocé nuestra nueva web</a>
    </div>
-->
    <div class="grid-header main-container">
        <div class="logo">
            <a href="\index.html">
                <img src="/uploads/logo_directo.svg" alt="Logo de Directo" class="logo-directo__header">
            </a>
        </div>
        <div class="navegacion">
            <a class="navLinks" href="https://mi.directo.com.ar/Cuenta/Ingresar?ePedirPrestamo=True"
                target="_self">Tu préstamo directo</a>
            <div class="dropdown">
                <a class="navLinks" href="/internas/asistencias.html">Servicios para vos</a>
            </div>
            <a class="navLinks" href="/internas/contacto.html" target="_self">Blog</a>
            <a class="navLinks" href="/internas/contacto.html" target="_self">Contacto</a>
        </div>
        <div class="comercios">
            <button class="btn btnHeader btnBlue">
                <a href="https://micomercio.directo.com.ar/Login" target="_self">Comercios</a>
            </button>
        </div>
        <div class="header-mobile">
            <a href="#" class="menu-toggle" onclick="navMobile()">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>
    <div class="mobile-main" id="mobile-main">
        <nav class="mobile-main-nav">
            <ul>
                <li class="mobileNav"><a href="https://mi.directo.com.ar/Cuenta/Ingresar?ePedirPrestamo=True"
                        target="_self">Tu préstamo directo</a></li>
                <li class="mobileNav"><a href="/internas/asistencias.html" target="_self">Servicios para vos</a>
                </li>
                <li class="mobileNav mobileNavComercios"><a href="https://micomercio.directo.com.ar/Login"
                        target="_self">App Comercios</a></li>
                <li class="mobileNav"><a href="/internas/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>