// blog.scss

.blog {
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
}

.blogSingle {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

p.blogTitle a {
    font-size: 24px;
    line-height: 1.2;
    color: #004489;
}

.blogSingle p {
    color: #222;
    font-weight: 400;
}