// main.scss

body {
    font-family: $primaria;
	font-size: $squash;
	background-color: $celeste;
}

h1 {
	font-family: $primaria;
	font-size: $futbol;
	font-weight: 700;
	line-height: 108%;
	letter-spacing: -0.02em;
	color: $azul;
	padding-bottom: 10px;
}

h2 {
	font-family: $primaria;
	font-size: $tenis;
	font-weight: 700;
	line-height: 1.1;
	letter-spacing: -0.02em;
	color: $azul;
	margin-bottom: 16px;
}

h3 {
	font-family: $primaria;
	font-size: $pool;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: -0.02em;
	color: $azul;
}

h4 {
	font-family: $primaria;
	font-size: $squash;
	font-weight: 700;
	line-height: 120%;
	letter-spacing: -0.02em;
}

h5 {
	font-family: $primaria;
	font-size: $golf;
	font-weight: 500;
}

p,
.nav-links,
li {
	font-family: $primaria;
	font-size: $squash;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0em;
	color: $azul;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0 4px 8px #00000008;
}

.main-container {
	max-width: 1120px;
	margin: 0 auto;
}

.grid-header {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: "logo navegacion comercios";
	width: 100%;
}

.logo {
	grid-area: logo;
	align-self: center;
}

.logo-directo__header {
	width: 45%;
}

.navegacion {
	grid-area: navegacion;
	display: flex;
	align-self: center;
	justify-content: space-between;
}

.comercios {
	margin: 0 0 0 auto;
}

// Small text

.textSmall {
	font-size: $pingpong;
}

.linkDestacado {
	font-size: $pool;
	color: $azul;
	font-weight: 700;
}

// Margenes

.marginRight {
	margin-right: 10px;
}

// Header Banner

.headerBanner {
	position: fixed;
	top: 0;
	background: #f6f6f6;
	height: 24px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0 auto;
}

// Navegacion

a.navLinks {
	font-family: $primaria;
	font-size: $squash;
	font-weight: 500;
	text-decoration: none;
	color: $azul;
	cursor: pointer;
}

a.navSubLinks {
	font-family: $primaria;
	font-size: $squash;
	font-weight: 100;
	color: $gris-oscuro;
	display: flex;
	padding: 16px 20px;
}

a.navSubLinks:hover {
	background-color: $celeste;
}

// Header Mobile

.header-mobile {
	display: none;
	z-index: 99;
}

.mobile-main {
	display: none;
}

// Hero

.hero,
.servicios {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 90px;
	padding: 72px 0;
}

.heroTitle,
.servicios__title {
	width: 40%;
}

.heroTitle h1,
h3 {
	color: $blanco;
}

.heroTitleXL {
	font-size: 4rem;
}

.heroSubtitleWhite {
	font-family: $primaria;
	font-size: $golf;
	font-weight: 300;
	line-height: 1.3;
	color: $blanco;
}

.heroImage {
	position: relative;
	height: 75vh;
}

.heroImagePosition {
	position: absolute;
	bottom: 0;
	right: 0;
}

// Section

.sectionIzquierda {
	flex-basis: 45%;
}

.sectionDerecha {
	flex-basis: 45%;
}

.center {
	text-align: center;
}

// Modulo

.modulo {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 110px 0;
}

.comerciosTitle {
	flex-basis: 35%;
}

.comerciosFeatures {
	flex-basis: 60%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 40px;
	grid-row-gap: 40px;
}

.moduleColumnThree {
	flex-basis: 60%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 40px;
	grid-row-gap: 40px;
}

.comerciosIconos {
	display: flex !important;
	justify-content: center;
	align-items: center;
	color: $verde-oscuro;
	background-color: #EEFFEE;
	border-radius: 60px;
	margin-bottom: 8px;
}

.moduloDestacado {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 280px;
}

.moduloDestacadoText {
	font-family: $primaria;
	font-size: $tenis;
	font-weight: 500;
	line-height: 1.1;
	color: $blanco;
}

.module {
	display: flex;
	justify-content: space-between;
	/* align-items: flex-start; */
	padding: 72px 0;
}

.moduleCenter {
	display: flex;
	justify-content: flex-start;
	padding-top: 60px;
}

.moduleSpace {
	padding: 64px 0;
}

.moduleLarge {
	flex-basis: 80%;
}

.moduleList {
	display: flex;
	flex-direction: column;
	flex-basis: 55%;
}

.moduleListItem {
	margin-bottom: 48px;
}

.moduleListSubtitle {
	font-size: $golf;
	font-weight: 700;
}

.moduleTitle {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 30%;
}

.moduleImage {
	align-self: flex-start;
}

.moduleColumn {
	flex-direction: column;
}

.moduleColumnText {
	margin-bottom: 24px;
	text-align: center;
}

.moduleCard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $blanco;
	border: 1px solid #e8e8e8b3;
	border-radius: 16px;
	box-shadow: 0 2px 4px #00000014;
	position: relative;
	transition: all .2s ease-in-out;
	width: 100%;
	padding: 24px 34px;
}

.moduleCardSingle {
	display: flex;
	column-gap: 16px;
}

.highlight {
	justify-content: flex-start !important;
	background-color: #C8F8C8 !important;
}

.moduleCardAnchor {
	align-self: center;
	padding-top: 16px;
}

.moduleSmallLink {
	display: flex;
	align-items: baseline;
}

.moduleGap {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}

.moduleLegalesHeader {
	display: flex;
	flex-direction: column;
	padding: 0 120px;
	row-gap: 24px;
}

.moduleLegales {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
	margin-bottom: 64px;
}

.moduleVideo {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

.moduleVideoIframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.moduleHeaderEspecial {
	display: flex;
	align-items: center;
	height: 100vh;
	padding-top: 90px;
}

.moduleDetalle {
	margin-top: 24px
}

.img123 {
	width: 30%;
}

.divider {
	border-bottom: 1px solid #E8E8E8;
}

// Forms

.formThanksText {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: calc(100% - 20%);
	row-gap: 24px;
}

// List

.listLegales {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}

.listLegales li {
	font-size: (--pingpong);
}

// Iconos
// fa-2xs
.iconSmall {
	width: 32px;
	height: 32px;
}

// fa-lg
.iconLarge {
	width: 48px;
	height: 48px;
}

// Colores

.colorWhite {
	color: $blanco;
}

.colorBlue {
	color: $azul !important;
}

// Botones

button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
	border-radius: 48px;
	border: none;
	cursor: pointer;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}

.btn a {
	font-family: $secundaria;
	font-size: $squash;
	font-weight: 500;
	text-decoration: none;
	color: $blanco;
}

.btn_small {
	padding: 16px 40px;
}

.btn_medium {
	margin-top: 20px;
	padding: 16px 60px;
}

.btnHeader {
	padding: 16px 60px;
}

.btn_large {
	margin-top: 30px;
	padding: 16px 90px;
}

.btnLine {
	background-color: transparent;
	border: 1.5px solid $azul;
}

.btnWhite {
	background-color: $blanco;
}

.btnGreen {
	background-color: $verde;
}

.btnBlue {
	background-color: $azul;
}

.btn:hover {
	background-color: $azul;
	box-shadow: 0px 0px 0px 4px #C5E0FD;
}

.btn:hover a {
	color: $blanco !important;
}

.btnContacto {
	font-family: $secundaria;
	font-size: $squash;
	color: $blanco;
}

// Backgrounds

.bg_degrade {
	background-color: hsla(211, 78%, 35%, 1);
	background-image:
		radial-gradient(at 100% 100%, hsla(121, 60%, 54%, 1) 0px, transparent 50%),
		radial-gradient(at 0% 1%, hsla(210, 100%, 42%, 1) 0px, transparent 50%);
	box-shadow: 0px 12px 16px -4px rgba(0, 105, 215, 0.1), 0px 4px 6px -2px rgba(0, 105, 215, 0.05);
}

.bg_degrade_2 {
	background: linear-gradient(135deg, rgba(0, 105, 215, 1) 0%, rgba(0, 78, 158, 1) 40%, rgba(0, 68, 137, 0.90) 60%, rgba(71, 209, 75, 1) 100%);
}

.bg_degrade_3 {
	background: rgb(239, 103, 116);
	background: linear-gradient(45deg, rgba(239, 103, 116, 1) 0%, rgba(112, 175, 242, 1) 35%, rgba(206, 230, 255, 1) 100%);
}

.bgCorners {
	border-radius: 0px 0px 80px 80px;
}

.bgWhite {
	background-color: $blanco;
}

.bg_gris {
	background-color: $gris;
}

.bg-azul {
	background-color: $azul;
}

.bgCeleste {
	background-color: $celeste;
}

.bgCeruleo {
	background-color: $ceruleo;
}

// Dropdown

.dropdown-menu {
	display: none;
}

.down {
	transform: rotate(180deg);
}

.dropdown-content {
	display: none;
	position: absolute;
	animation-timing-function: ease-in-out;
	background-color: $blanco;
	border-radius: 4px;
	box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
	z-index: 1;
}

.navSubLine {
	border-bottom: 1px solid #e8e8e8;
}

.show {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 20px;
	width: 184px;
}

// Sections
// MediosPago

.serviciosMediosPago {
	display: flex;
}

.mediosPago {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	flex-basis: 35%;
}

// Footer

footer {
	background-color: $blanco;
	padding: 64px 0px 32px;
}

footer p,
a {
	font-family: $primaria;
	font-size: $pingpong;
	text-decoration: none;
}

.footerEmpresa,
.footer_bcra {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.footerEmpresaLogo {
	margin-bottom: 40px;
}

.footerLogo {
	width: 45%;
}

.footerSocial {
	display: flex;
	flex-direction: row;
	margin-bottom: 60px;
}

.footerAfip {
	display: flex;
}

.footerAfipText {
	margin-left: 20px;
}

.fa-brands {
	margin-right: 32px;
	font-size: 18px;
}

.footer_lista {
	display: flex;
	flex-direction: column;
}

.footer_item {
	margin-top: 20px;
}

.footerLegales {
	display: grid;
	grid-template-columns: 1fr 1fr 3fr;
	grid-template-rows: 1fr;
	gap: 20px;
}

.legales_links__division {
	border-right: 1px solid #333333;
}

.legales_links__distancia {
	margin-bottom: 16px;
	margin-right: 16px;
	padding-right: 16px;
	line-height: 1.5;
}

// FORMS

form {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	gap: 8px;
}

.form-control {
	font-family: $secundaria;
	font-size: $squash;
	border: 1.5px solid #E8E8E8;
	border-radius: 16px;
	height: 48px;
	padding: 0px 16px;
	width: 100%;
}

.formGrid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	/* grid-template-rows: repeat(4, 1fr); */
	gap: 16px;
}

.div1 {
	grid-area: 1 / 1 / 2 / 4;
}

.div2 {
	grid-area: 1 / 4 / 2 / 7;
}

.div3 {
	grid-area: 2 / 1 / 3 / 4;
}

.div4 {
	grid-area: 2 / 4 / 3 / 7;
}

.div5 {
	grid-area: 3 / 1 / 4 / 3;
}

.div6 {
	grid-area: 3 / 3 / 4 / 5;
}

.div7 {
	grid-area: 3 / 5 / 4 / 7;
}

.div8 {
	grid-area: 4 / 1 / 5 / 5;
}

.div9 {
	grid-area: 4 / 5 / 5 / 7;
	align-self: end;
	justify-self: flex-end;
}

.formFlex {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	align-items: end;
}

.formThanks {
	display: flex;
	align-items: center;
	padding: 90px 0 24px;
}

.formFlexCenter {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	align-items: center;
}

.formFlexModule {
	display: flex;
	column-gap: 48px;
	padding-top: 12px;
}

.formCheckbox {
	display: flex;
	align-self: center;
}

.formCheckboxItem {
	margin-left: 24px;
}

.formCheckboxText {
	font-family: $primaria;
	font-size: $squash;
}

input::placeholder {
	color: #656566;
}

:where(input, textarea):focus {
	color: $azul;
	background-color: transparent;
	border-color: #CEE6FF !important;
	box-shadow: 0 0 0 2px #CEE6FF !important;
}

:where(input, textarea):focus-visible {
	outline: none;
}

textarea {
	padding: 16px !important;
	height: 120px !important;
}


@media (max-width: $layout-breakpoint-mobile) {

	header {
		height: 64px;
	}

	.grid-header {
		display: flex;
		align-items: flex-start;
		margin: 0px 24px;
	}

	.logo {
		z-index: 99;
	}

	.logo-directo__header {
		width: 60%;
	}

	.navegacion,
	.comercios {
		display: none;
	}

	.header-mobile {
		display: block;
	}

	.menu-toggle {
		position: fixed;
		top: 24px;
		right: 24px;
		z-index: 3;
		width: 28px;
		height: 19px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.menu-toggle span {
		width: 100%;
		height: 3px;
		background-color: ($negro);
		z-index: 4;
		transition: all .2s ease;
		transform-origin: center;
	}

	.mobile-main {
		background-color: ($celeste);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		/* width: 100vw;
		height: 100vh; */

		transform: translateY(-100%);
		z-index: 2;
		transition: transform 0.5s ease;
		text-align: center;
		display: flex !important;
	}

	.mobile-main-nav {
		position: relative;
		display: flex;
		flex-direction: column;
		align-self: center;
		margin: 0 auto;
	}

	.mobileNav {
		margin-bottom: 24px;
	}

	.open {
		transform: translateY(0);
	}

	.servicios {
		flex-direction: column;
	}

	.serviciosMediosPago {
		flex-direction: column;
	}

	.hero,
	.servicios {
		padding: 40px 0;
	}

	.heroTitle,
	.servicios__title {
		width: auto;
	}

	.heroTitleXL {
		font-size: ($futbol);
	}

	.heroImage {
		align-items: baseline;
		height: auto;
	}

	.heroImagePosition {
		display: none;
	}

	.heroLegales {
		padding: 42px 0px 24px;
		margin-bottom: 24px;
	}

	.sectionIzquierda {
		flex-basis: auto;
	}

	.modulo {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		padding: 64px 0;
	}

	.moduloDestacado {
		flex-direction: column;
		padding: 24px;
		text-align: center;
	}

	.comerciosFeatures {
		flex-basis: auto;
		grid-template-columns: 1fr;
	}

	.comerciosTitle {
		flex-basis: auto;
		padding: 0 24px;
	}

	.comerciosTitle h2,
	.comerciosTitle p {
		color: ($blanco) !important;
	}

	/* MAIN CONTAINER */

	.main-container {
		margin: 0 24px;
	}

	/* MODULES */

	.module {
		flex-direction: column;
	}

	.moduleLarge {
		flex-basis: auto;
	}

	.moduleCard {
		padding: 12px 16px;
	}

	.redesPago {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 16px;
		row-gap: 16px;
	}

	.moduleColumnThree {
		flex-basis: auto;
		grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
		grid-column-gap: 24px;
		grid-row-gap: 24px;
	}

	.moduleSpace {
		padding: 32px 0;
	}

	.moduleHeaderEspecial {
		display: flex;
		flex-direction: column;
		padding-top: 64px;
		height: auto;
	}

	.moduleLegales {
		padding: 64px 0;
	}

	.listLegales a {
		font-size: ($pingpong);
	}

	/* BACKGROUNDS */

	.bgCorners {
		border-radius: 0px 0px 42px 42px;
		margin-top: 64px;
	}

	/* FONTS */

	h1 {
		font-size: ($tenis);
		font-weight: 600;
		line-height: 108%;
	}

	h2 {
		font-size: ($handball);
	}

	h3 {
		font-size: ($squash);
		font-weight: 500;
	}

	h5 {
		color: ($blanco);
		font-size: ($squash);
		line-height: 1.25;
		font-weight: 300;
	}

	/* BUTTON */

	button {
		width: auto;
	}

	.btn_large {
		margin-top: 64px;
		padding: 16px 0;
		width: 100%;
	}

	.btn_medium {
		padding: 16px 24px;
		width: 100%;
	}

	/* LINKS */

	li a {
		font-size: ($golf);
	}

	/* IMAGES */

	.hero__image {
		display: none;
	}

	.mediosPago>img {
		width: 80%;
	}

	/* FORMS */

	.formGrid {
		display: flex;
		flex-direction: column;
	}

	.formThanks {
		flex-direction: column;
		padding: 64px 0 24px;
	}

	.formFlexModule {
		display: flex;
		flex-direction: column;
		row-gap: 24px;
	}

	/* FOOTER */

	.footerEmpresa,
	.footerLegales {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.footerEmpresa {
		margin-bottom: 24px;
	}

	.footerEmpresaLogo {
		margin-bottom: 16px;
	}

	.footerSocial {
		margin-bottom: 36px;
	}

	.footerEmpresaCol1,
	.footerEmpresaCol2,
	.footerEmpresaCol3,
	.footerEmpresaCol4 {
		margin-bottom: 24px;
	}

	.footer_item {
		margin-top: 16px;
	}

	.footerLegalesLinks {
		display: flex;
		flex-direction: column;
	}

	.legales_links__distancia {
		margin-bottom: 16px;
		/* margin-right: 0px; */
		padding-right: 0px;
		line-height: 1.5;
	}

	.legales_links__division {
		border: none;
	}

}