//
// VARIABLES
//

// Colors
$rojo: #D4071C;
$azul: #004489;
$ceruleo: #CEE6FF;
$celeste: #F5FAFF;
$verde: #47D14B;
$verde-oscuro: #1F951F;
$blanco: #FFF;
$gris: #F6F6F6;
$gris-oscuro: #656566;
$negro: #222;

// Fonts
$primaria: 'Public Sans', sans-serif;
$secundaria: 'Archivo', sans-serif;

// Font Size
$pingpong: 0.75rem;
$squash: 1rem;
$golf: 1.25rem;
$pool: 1.5rem;
$handball: 1.875rem;
$tenis: 2.5rem;
$futbol: 3rem;